@import url("../defaultcolors.css");
.informationField-container {
    background-color: var(--main-blue);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.informationField-title {
    font-weight: bold;
    margin: 0;
}

.informationField-divider {
    border: none;
    height: 1px;
    color: var(--off-white);
}

.informationField-tags {
    display: block;
    margin-top: 10px;
}


.informationField-tag {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
    color: black;
    margin-bottom: 8px; /* Für etwas Abstand zwischen den Kästchen */
}
