.patient-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  background-color: var(--main-blue);
  color: var(--off-white);
  width: 85%;
  min-width: 650px;
  cursor: pointer;
}

.patient-card.loading,
.patient-card.error,
.patient-card.empty {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.patient-card.error {
  background-color: #e53e3e;
}

.patient-card-container {
  display: flex;
  align-items: stretch;
  height: 150px;
}

.patient-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.patient-header {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 16px;
}

.patient-name {
  flex: 1;
  font-weight: 500;
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.patient-age {
  padding: 0 0.5rem;
  white-space: nowrap;
  font-size: 1rem;
}

.patient-gender {
  width: 2rem;
  text-align: center;
  font-size: 1rem;
}

.patient-details {
  padding: 0.75rem 0;
}

.patient-detail-row {
  display: flex;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}

.detail-label {
  font-weight: 600;
  margin-right: 0.5rem;
}

.detail-value {
  margin-right: 1rem;
}

.diet-label {
  margin-left: 0.5rem;
}

.patient-avatar-container {
  align-content: center;
}
.patient-avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 16px;
  object-fit: cover;
  border: 2px solid var(--off-white);
}

.patient-sidebar {
  width: 7.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-info {
  text-align: center;
  margin-top: 0.5rem;
  width: 100%;
}

.room-number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.25rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.room-number svg {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.25rem;
  fill: var(--off-white);
  background-color: transparent;
}

.emergency-contact {
  margin-top: 0.5rem;
  font-size: 0.7rem;
}

.emergency-contact .contact-tel {
  padding-top: 5px;
  font-weight: bold;
  font-size: 0.8rem;
}

.contact-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 7rem;
}
