.profile-container p{
    margin: 0;
    color: var(--dark-blue);
}

.profile-container {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--main-blue);
}

.profile-info{
    margin-left: 2em;
}

.profile-info-box{
    width: 100%;
    margin-right: 2em;
}

.profile-info-box-headline {
    display: flex;
    margin-left: 2em;
    align-items: center;
    gap: 4px;
    border-bottom: 2px solid var(--main-blue);
    width: 100%;
}

.profile-info-box-headline .left {
    font-weight: bold;
}

.profile-info-box-headline .right {
    display: flex;
    align-items: center;
    gap: 4px; 
    padding-right: 0.5em;
    margin-left: auto;
}
.profile-info p{
    font-weight: 200;
}

.profile-image img{
    border-radius: 20px;
}