
@import url("defaultcolors.css");

.contentArea {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}


.lowerInteractionBar{
    background-color: var(--main-blue);
    width: 100vw;
    right: 0;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interactionButtonArea{
    background: var(--main-blue);
    width: 10em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.interactionButton {
    border: none;
    background: var(--main-blue);
    display: block;
    position: relative;
    top: -3em;
    margin: 0 auto;
    border-radius: 4em;
    padding: 1em;
}

.loadingIndicator {
    border: none;
    background: var(--main-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -3em;
    margin: 0 auto;
    border-radius: 4em;
    padding: 1em;
    width: 3em;
    height: 3em;
}

.loadingIndicator::after {
    content: "";
    width: 1.5em;
    height: 1.5em;
    border: 8px dotted white;
    border-radius: 50%;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.minorInteractionA, 
.minorInteractionB, 
.minorInteractionC {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%; 
    border: 2px solid var(--main-blue);
    height: 50px; 
    width: 50px;
    background-color: white;
}

.minorInteractionA {
    top: -5em;
    left: -3em;
}

.minorInteractionB {
    top: -8em;
    left: 50%;
    transform: translateX(-50%);
}

.minorInteractionC {
    top: -5em;
    right: -3em;
}


img{
    background-color: transparent;
}


.chat-title {
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

.chatArea {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll; /* Allows scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    flex-grow: 1;
    scrollbar-width: none; /* Firefox: Hides scrollbar */
    -ms-overflow-style: none; /* IE/Edge: Hides scrollbar */
}

.chatArea::-webkit-scrollbar {
    display: none; /* Chrome, Safari: Hides scrollbar */
}



.text{
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.1em;
    max-width: 70vw;
    min-width: 20vw;
    width: fit-content;
    word-wrap: break-word;
}

.humanText{
    background-color: var(--dark-blue);
    align-self: flex-end;
}

.chatbotText{
    background-color: var(--main-blue);
    align-self: flex-start;
    
}

audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button
 {
  display: none !important;
}
audio{
    background-color: transparent;
    width: 100%;
}

p{
    font-size: 16px;
    background-color: transparent;
    color: var(--off-white);
}

.text.chatbotText li,
.text.chatbotText li::marker,
.text.chatbotText strong,
.text.chatbotText ul,
.text.chatbotText ol,
.text.chatbotText p {
    color: var(--off-white);
    background-color: var(--main-blue);
}
