@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --color-primary: #3b7e9b;
  --color-secondary: #f8f9fa;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans", "Comic Neue";
}

.header-container {
  background-color: var(--color-primary);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  height: 60px;
}

.icon-border {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 3px solid white;
  border-radius: 50%;
}

.personalCard-container {
    margin: 15px;
    background-color: aqua;
}
